* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2%;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-header-logo {
  width: 7%;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-around;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

fieldset {
  border: 0;
  padding: 5%;
}

#trybewarts-forms-logo {
  height: 500px;
}

#family {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#second-fieldset {
  display: flex;
}

#content {
  margin: 20px;
}

#ratting {
  display: flex;
  flex-direction: row;
}
